/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-row{
        grid-template-columns: auto 1fr;
    }
    .grid-col{
        grid-template-columns: unset;
        grid-template-rows: auto 1fr;
    }
}